     body
         {
           background-image: url(C:\Users\HP\Documents\my shop\My-Shop\wallpaper.jfif);  
           color:brown;
           background-color:beige;
         }
         p{
             text-align: center;
             font-family: fantasy;
             color:aqua;
             font-size: 450%;
             background-color:blue;
             border-radius:15%;
             border-bottom-left-radius:30%;
             border-top-color: chartreuse;
         }
         h1
         {
           text-align: justify;
         }    
